@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body
  font-family 'Open Sans', sans-serif;
  background #EEEEEE

body > h1
  text-shadow 1px -1px 0px #999
  color #bbb
  text-align center

.login-box
  margin 30px auto 0 auto
  border-radius 15px
  background white
  width 350px
  padding 30px
  border solid 1px #dddddd

.login-box h2
  margin-top 0

input
  width 100%
  border-radius 5px
  padding 10px
  display block
  box-sizing border-box
  margin-bottom 5px
  border solid 1px #DDDDDD
  font-size 16px

input[type="submit"]
  cursor pointer
  background #ddd
  margin 15px 0 0 0

input[type="submit"]:hover
  background #eee
