doctype html
html(lang="en")
    head
        title= 'Login - Cubbyhole API'
        link(rel='stylesheet', type='text/css', href='css/index.css')
    body
        p= 'Application with id ' + client_id + ' requests access to your account. Redirection to : ' + redirect_uri
        form(method='post')
            input(type='hidden', name='response_type', value='code')
            input(type='hidden', name='allow', value='yes')
            input(type='submit', value='Authorize')