doctype html
html(lang="en")
    head
        title= 'Login - Cubbyhole API'
        link(rel='stylesheet', type='text/css', href='css/index.css')
    body
        h1 Cubbyhole
        div.login-box
            form(method='post')
                h2 Login
                input#username(type='text', name='email', placeholder='Email')
                input#password(type='password', name='password', placeholder='Password')
                input(type='submit')
